* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
/*Intro page*/
#CYC {
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 2em;
}
span {
  font-weight: bold;
  font-size: 1.25em;
  color: #2852a7;
}

/* Header styles*/
header {
  /* display: block; */
  background-color: #2852a7;
  min-height: 70px;
  width: 100%;
  overflow: hidden;
}

header > h1 {
  margin-top: 15px;
  color: white;
  float: left;
}

.linkright {
  margin-right: 2%;
  text-align: right;
  margin-top: 15px;
  /* margin-left: 70%; */
}

.headerLink {
  /* float: right; */
  color: white;
  font-size: 20px;
  text-decoration: none;
  /* margin-left: 0%; */
  margin-right: 20px;
}
header nav {
  float: right;
  margin-top: 10px;
}

#logo {
  width: 5%;
  float: left;
  height: 80%;
  margin-top: 10px;
}

/* Registration form styles*/
form {
  max-width: 40%;
  margin: 50px auto;
  padding: 20px;
  background: #9fa9ac;
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 0px;
  margin-left: 30px;
}

textarea {
  display: block;
  height: 8em;
  width: 90%;
  margin-bottom: 15px;
}
input {
  /* max-width: 400px; */
  display: block;
  height: 30px;
  width: 90%;
  margin-bottom: 15px;
}

button {
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 15px;
  margin-left: 30px;
  background-color: #386bd1;
  color: white;
  width: 30%;
  height: 30px;
}
form > h2 {
  margin-top: 10px;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  header > h2 {
    margin-top: 20px;
    color: white;
    text-align: center;
  }
  .linkright {
    margin-right: 2%;
    text-align: center;
    /* margin-left: 70%; */
  }
  #logo {
    display: none;
  }
  form {
    max-width: 65%;
  }
}
